.results-container {
  font-family: monospace;
  line-height: 1.6;
  color: #333;
  padding-top: 70px;
}

.results-container h1 {
  color: #333;
}

.results-container h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

body.dark-mode .chat-response {
  background-color: #e75480 !important;
  color: #fff !important;
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }

  /* This hides download button for print */
  .download-btn {
    display: none;
  }

  /* This hides navbar for print */
  .navbar {
    display: none !important;
  }

  .results-container {
    color: black !important;
    background: white !important;
    width: 100%;
    page-break-before: always; 
  }

  .results-container h1,
  .results-container h3,
  .results-container p {
    page-break-after: avoid; 
    page-break-inside: avoid; 
  }

  .results-container table {
    width: 100%;
    page-break-inside: auto; 
  }

  .results-container table th,
  .results-container table td {
    padding: 10px;
    text-align: left;
  }

  .dark-mode * {
    background: white !important;
    color: black !important;
  }

  .results-container * {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  .career-suggestions {
    overflow: visible !important;
    height: auto !important;
  }

  .career-suggestions,
  .career-results {
    page-break-before: always;
  }
}
